#controls{
    height:50px;
    background-color:burlywood;
    border:2px solid gray;
}
label input{
    visibility:hidden;
    position:absolute;
}
label input+div{
    cursor:pointer;
    border:1px solid darkgray;
  }
label input:checked+div{
    border:1px solid black;
  }
#controls .btn div{
    display:inline-block;
    height:20px;
    width:20px;
    margin-left:5px;
    margin-top:14px;
}
.red{
    background-color:red;
}
.blue{
    background-color:blue;
}
.green{
    background-color:green;
}
.coral{
    background-color:coral;
}
.purple{
    background-color:purple;
}
#easel{
    background-color:gray;
    height:600px;
}
#table{
    border:2px solid gray;
    border-top:none;
}
td{
    width:10px;
    height:10px;
    margin:0px;
    padding:0px;
    border-collapse:collapse;
    background-color:white;
}