#controls{
    height:100px;
    background-color:burlywood;
    border:2px solid gray;
}
#controls .color{
    display:inline-block;
    height:50px;
    width:50px;
    margin-left:10px;
    margin-top:24px;
    border: 1px solid black;
}
.red{
    background-color:red;
}
.blue{
    background-color:blue;
}
.green{
    background-color:green;
}
.coral{
    background-color:coral;
}
.purple{
    background-color:purple;
}
#easel{
    background-color:gray;
}
#table{
    border:2px solid gray;
    border-top:none;
}
#table tbody tr td{
    width:10px;
    height:10px;
    border:gray solid 1px;        
    margin:0px;
    padding:0px;
    border-collapse:collapse;
    background-color:white;
}